* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

header {
  height: 230px;
  width: 100%;
  color: #002D75;
  text-align: center;
  border-bottom: 1px solid #002D75;
}

header ul {
  list-style: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header ul li {
  display: inline-block;
  padding: 20px;
  font-size: 30px;
}

header .active {
  background-color: #002D75;
  color: #FFF;
}

header a {
  text-decoration: none;
  color: #002D75;
}

header a:hover {
  text-decoration: underline;
}

main {
  background-color: #9687A8;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cards {
  margin: 0 auto;
}

.cards img {
  width: 100%;
}

.card {
  float: left;
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px;
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.1);
}

h2 {
  text-align: center;
  font-size: 40px;
  color: #FFF;
  padding-top: 30px;
}

