.cards {
    margin: 0 auto;
    & img {
        width: 100%;
    }
}

.card {
    float: left;
    width: 30%;
    object-fit: contain;
    margin: 10px;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: $bianco;
    padding-top: 30px;
}
