header {
    height: 230px;
    width: 100%;
    color: $blu;
    text-align: center;
    border-bottom: 1px solid $blu;
    // position:fixed;
    // top: 0;

    img {
    }
    ul {
        list-style: none;
        position: sticky;
        top:0;
        li {
            display: inline-block;
            padding: 20px;
            font-size: 30px;

        }

    }
    .active {
        background-color: $blu;
        color: $bianco;
    }


    @include collegamenti;
}
