main {
    min-height: calc(100vh - 300px);
    background-color: $sfondo;
    text-align: center;
    // margin-top: 250px;
}

.container {
    width: 90%;
    margin: 0 auto;

}

#pasta {
    height: 600px;
}
