@mixin collegamenti {
    a{
        text-decoration: none;
        color: $blu;
        // &:visited {
        //     color: $blu;
        // }
        &:hover {
            text-decoration: underline;
        }

    }
}
